<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * Copyright 2016, The MoKee Open Source Project
 * Copyright 2017-2018, The LineageOS Project
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:androidprv="http://schemas.android.com/apk/prv/res/android"
    package="org.mokee.mkparts"
    android:versionCode="1"
    android:versionName="1.0"
    android:sharedUserId="android.uid.system">

    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="24" />

    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.BIND_DEVICE_ADMIN" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_SEARCH_INDEXABLES" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.MANAGE_FINGERPRINT" />

    <uses-permission android:name="mokee.permission.MANAGE_REMOTE_PREFERENCES" />
    <uses-permission android:name="mokee.permission.CHANGE_STYLE" />

    <protected-broadcast android:name="mokee.intent.action.UPDATE_POWER_MENU" />
    <protected-broadcast android:name="mokee.platform.app.profiles.PROFILES_STATE_CHANGED" />
    <protected-broadcast android:name="org.mokee.mkparts.PART_CHANGED" />
    <protected-broadcast android:name="org.mokee.mkparts.REFRESH_PART" />
    <protected-broadcast android:name="org.mokee.mkparts.gestures.UPDATE_SETTINGS" />

    <!-- MOKEE PUSH PERMISSION START -->
    <permission android:name="org.mokee.mkparts.permission.JPUSH_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="org.mokee.mkparts.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REAL_GET_TASKS" />
    <!-- MOKEE PUSH PERMISSION END -->

    <application android:label="@string/mkparts_title"
            android:icon="@mipmap/ic_launcher"
            android:name=".MKPartsApplication"
            android:theme="@style/Theme.Settings"
            android:hardwareAccelerated="true"
            android:supportsRtl="true"
            android:defaultToDeviceProtectedStorage="true"
            android:directBootAware="true">

        <activity android:name=".PartsActivity"
                android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="org.mokee.settings.summary.receiver"
                android:value="org.mokee.mkparts.PartsUpdater" />
        </activity>

        <activity android:name=".trust.TrustOnBoardingActivity"
            android:label="@string/trust_title"
            android:theme="@style/OnBoardingStyle"
            android:exported="true"
            android:enabled="true"
            android:excludeFromRecents="true">
            <intent-filter android:priority="-4">
                <action android:name="org.mokee.mkparts.TRUST_HINT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name=".BootReceiver" android:enabled="true">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".PartsUpdater" android:enabled="true">
            <intent-filter>
                <action android:name="mokee.intent.action.UPDATE_PREFERENCE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <provider android:name=".search.MKPartsSearchIndexablesProvider"
                  android:authorities="org.mokee.mkparts"
                  android:multiprocess="false"
                  android:grantUriPermissions="true"
                  android:permission="android.permission.READ_SEARCH_INDEXABLES"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.content.action.SEARCH_INDEXABLES_PROVIDER" />
            </intent-filter>
        </provider>

        <!-- LiveDisplay settings (Display category) -->
        <activity-alias
            android:name=".livedisplay.LiveDisplaySettings"
            android:label="@*mokee.platform:string/live_display_title"
            android:targetActivity="PartsActivity">
            <intent-filter android:priority="-2">
                <action android:name="org.mokee.mkparts.action.SETTINGS" />
                <action android:name="org.mokee.mkparts.LIVEDISPLAY_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.display" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/live_display_summary" />
        </activity-alias>

        <!-- Privacy settings (dashboard) -->
        <!--
        <activity-alias
            android:name=".PrivacySettings"
            android:label="@string/privacy_settings_title"
            android:targetActivity="PartsActivity">
            <intent-filter android:priority="3">
                <action android:name="com.android.settings.action.EXTRA_SETTINGS" />
                <action android:name="org.mokee.mkparts.PRIVACY_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.personal" />
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@drawable/ic_settings_privacy" />
            <meta-data
                android:name="org.mokee.settings.summary.receiver"
                android:value="org.mokee.mkparts.PartsUpdater" />
            <meta-data
                android:name="org.mokee.settings.summary.key"
                android:value="privacy_settings" />
        </activity-alias>
        -->

        <!-- Button settings (System category) -->
        <activity-alias
            android:name=".input.ButtonSettings"
            android:label="@string/button_pref_title"
            android:icon="@drawable/ic_settings_buttons"
            android:targetActivity="PartsActivity">
            <intent-filter android:priority="256">
                <action android:name="org.mokee.mkparts.action.SETTINGS" />
                <action android:name="org.mokee.mkparts.BUTTON_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.system" />
            <meta-data
                android:name="com.android.settings.summary"
                android:value="@string/summary_empty" />
        </activity-alias>

        <activity android:name=".gestures.KeyHandler" />

        <!-- Profiles settings (System category) -->
        <activity-alias
            android:name=".profiles.ProfilesSettings"
            android:label="@string/profiles_settings_title"
            android:icon="@drawable/ic_settings_profiles"
            android:targetActivity="PartsActivity">
            <intent-filter android:priority="255">
                <action android:name="org.mokee.mkparts.action.SETTINGS" />
                <action android:name="org.mokee.mkparts.PROFILES_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.system" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/summary_empty" />
        </activity-alias>

        <!-- Status bar settings (System category) -->
        <activity-alias
            android:name=".statusbar.StatusBarSettings"
            android:label="@string/status_bar_title"
            android:icon="@drawable/ic_settings_statusbar"
            android:targetActivity="PartsActivity">
            <intent-filter android:priority="254">
                <action android:name="org.mokee.mkparts.action.SETTINGS" />
                <action android:name="org.mokee.mkparts.STATUS_BAR_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.system" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/summary_empty" />
        </activity-alias>

        <!-- Style settings (Display category) -->
        <activity-alias
            android:name=".style.StylePreferences"
            android:label="@string/style_title"
            android:targetActivity="PartsActivity">
            <intent-filter android:priority="-3">
                <action android:name="org.mokee.mkparts.action.SETTINGS" />
                <action android:name="org.mokee.mkparts.STYLE_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.display" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/style_summary" />
        </activity-alias>

        <!-- Trust interface (Security category) -->
        <activity-alias
            android:name=".trust.TrustPreferences"
            android:label="@string/trust_title"
            android:targetActivity="PartsActivity">
            <intent-filter android:priority="-4">
                <action android:name="org.mokee.mkparts.action.SETTINGS" />
                <action android:name="org.mokee.mkparts.TRUST_INTERFACE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <!-- Expanded Desktop settings (Display category) -->
        <activity-alias
            android:name=".applications.ExpandedDesktopSettings"
            android:label="@string/expanded_desktop_settings_title"
            android:targetActivity="PartsActivity">
            <intent-filter android:priority="-9">
                <action android:name="org.mokee.mkparts.action.SETTINGS" />
                <action android:name="org.mokee.mkparts.EXPANDED_DESKTOP_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.display" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/expanded_desktop_settings_summary" />
        </activity-alias>

        <!-- Fingerprint shortcut settings (Apps category) -->
        <activity-alias
            android:name=".fingerprint.FingerprintShortcutSettings"
            android:label="@string/fingerprint_shortcut_settings_title"
            android:targetActivity="PartsActivity">
            <intent-filter android:priority="150">
                <action android:name="org.mokee.mkparts.action.SETTINGS" />
                <action android:name="org.mokee.mkparts.FINGERPRINT_SHORTCUT_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.apps" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/summary_empty" />
        </activity-alias>

        <!-- Weather settings -->
        <activity-alias
            android:name=".weather.WeatherServiceSettings"
            android:label="@string/weather_settings_title"
            android:targetActivity="PartsActivity">
            <intent-filter android:priority="1">
                <action android:name="mokee.intent.action.MANAGE_WEATHER_PROVIDER_SERVICES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity android:name=".profiles.NFCProfile">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="mk/profile" />
            </intent-filter>
        </activity>

        <activity
            android:name=".profiles.NFCProfileSelect"
            android:label="@string/profile_select"
            android:excludeFromRecents="true"/>

        <activity
            android:name=".fingerprint.FingerprintShortcutEditor"
            android:label="@string/fingerprint_shortcut_editer" />

        <!-- MOKEE ANONYMOUS STATISTICS START -->
        <receiver android:name=".stats.ReportingServiceManager"
            android:label="ReportingServiceManager"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="org.mokee.mkparts.action.TRIGGER_REPORT_METRICS" />
            </intent-filter>
        </receiver>

        <service android:name=".stats.ReportingService"
            android:label="ReportingService"
            android:enabled="true"
            android:exported="false">
        </service>

        <service android:name=".stats.UpdatingService"
            android:label="UpdatingService"
            android:enabled="true"
            android:exported="false">
        </service>

        <service android:name=".stats.StatsUploadJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!-- MOKEE ANONYMOUS STATISTICS END -->

        <!-- MOKEE PUSH SERVICE START -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="org.mokee.mkparts" />
            </intent-filter>
        </activity>

        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <provider
            android:authorities="org.mokee.mkparts.DataProvider"
            android:name="cn.jpush.android.service.DataProvider"
            android:exported="true"
        />

        <provider
            android:authorities="org.mokee.mkparts.DownloadProvider"
            android:name="cn.jpush.android.service.DownloadProvider"
            android:exported="true"
        />

        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="true" >
             <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <category android:name="org.mokee.mkparts" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver android:name="cn.jpush.android.service.AlarmReceiver" android:exported="false" />

        <receiver android:name=".push.PushingMessageReceiver"
            android:label="PushingMessageReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="org.mokee.mkparts" />
            </intent-filter>
        </receiver>

        <meta-data android:name="JPUSH_CHANNEL" android:value="default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="1e31e45c4949a2beed951431" />
        <!-- MOKEE PUSH SERVICE END -->

    </application>
</manifest>
